
<div class="row">
    <div class="panel col-xs-3">
        {{> favourites}}
    </div>
    <div class="col-xs-9">
        <table class="table">
            <tr>
                <th>Year</th>
                <th>Caption</th>
                <th>Add to...</th>
            </tr>
            {{#each .}}
                <tr>
                    <td>{{year}}</td>
                    <td>
                        <a href='leagues/{{id}}/table'>
                            {{caption}}
                        </a>
                    </td>
                    <td>
                        <div class='divAddFav'>
                            <input type="submit" value="Fav" class='btn'>
                            <input type="hidden" name="league" value="{{id}}" class='txtLeague'>
                            <input type="hidden" name="caption" value="{{caption}}" class='txtCaption'>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>